<section id="brand">
    {{ image('theme::img/icon.svg').data()|raw }}
    {{ image('theme::img/logo.svg').data()|raw }}
    <button  data-toggle="push-menu" href="#" class="btn btn-sm toggle pull-right">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
</section>