<section id="navbar">
    <button  data-toggle="push-menu" href="#" class="btn btn-sm toggle pull-left">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    {% include "pyrocms.theme.pyrocms::partials/navigation" %}
    {% include "pyrocms.theme.pyrocms::partials/menu" %}
</section>
