//
// Blue skin variables
//

/* brand variables */
$brand-bg: hsl(220, 36%, 28%);
$brand-logo-color: $white;
$brand-logo-opacity: 1;

/* header variables */
$header-bg: $white;

/* toggle button variables */
$toggle-text-color: rgba(255, 255, 255, 0.3);

/* sidebar variables */
$sidebar-bg: hsl(220, 36%, 30%);
$sidebar-icon-float: right;
$sidebar-icon-color: hsl(220, 36%, 65%);
$sidebar-text-color: hsl(220, 36%, 75%);
$sidebar-text-indent: 42px;