body:not(.pyrocms) {
    .btn {
        outline: none;
        border-radius: $border-radius;
    }
    .btn-secondary-outline {
        border-color: rgba(0, 0, 0, 0.2);
        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
