body:not(.pyrocms) {
    .card {
        border: $card-border;
        box-shadow: $card-shadow;
        border-radius: $border-radius;
        &.affix {
            background-color: $card-affix-bg;
            box-shadow: 2px 1px 2px rgba(0,0,0,0.075);
        }
        &.card-container {
            border: none;
            box-shadow: none;
            background: transparent;
        }
        table.table {
            border-radius: $border-radius;
        }
    }
}
