body:not(.pyrocms) {
    #sidebar {
        .nav {          
            .subnav {
                padding-left: 67px;
                > li {
                        color: $sidebar-text-color;
                    a {
                        color: $sidebar-text-color;
                    }
                    &:hover, &.active {
                        color: $sidebar-text-color;
                        background: transparent;
                        a {
                            color: $sidebar-text-color;
                        }
                    }
                    &:before {
                        font: normal normal normal 14px/1 FontAwesome; 
                        content: "\f10c";
                        top: 13px;
                        border: 0;
                    }
                    &.active:before  {
                        content: "\f111";
                    }
                    &:after {
                        display: none;
                    }
                }
            }
        }
    }
}