body:not(.pyrocms) {
    .card-label {
        display: block;
        font-weight: bold;
        color: $gray-dark;
        padding-left: 1.25rem;
        background-color: $gray-lightest;
        border-bottom: 1px solid $gray-lighter;
    }
    .collapsed .card {
        overflow: hidden;
    }
}
