//
// Stone skin variables
//

/*  control variables */
$show-navbar: true;

/* pyrocms | bootstrap variables */
$brand-primary: #43AAC5;

/* navbar variables */
$nav-bg: $white;

/* sidebar variables */
$sidebar-width: 250px;
$sidebar-icon-font-size: 120%;
$sidebar-icon-padding: 0 10px 0 0;

/* brand variables */
$brand-bg: darken($brand-primary, 5);
$brand-logo-color: $white;
$brand-logo-opacity: 1;
$brand-height: 71px;
$brand-logo-margin: 8px 0 0 0;

/* navbar variables */
$nav-height: 71px;

/* menu variables */
$menu-text-color: darken($brand-primary, 5);
$menu-dropdown-bg: #DFE0E1;

/* toggle button variables */
$toggle-text-color: $brand-primary;
$toggle-hover-text-color: $toggle-text-color;

/* sidebar variables */
$sidebar-bg: $brand-primary;
$sidebar-icon-color: $white;
$sidebar-text-color: $white;
$sidebar-icon-padding: 0 10px 0 0;

/* cad variables */
$card-shadow: none;

/* footer variables */
$footer-bg: $body-bg;
