body:not(.pyrocms) {
    #menu {
        li {
            a {
                color: $menu-text-color;
            }
            &.dropdown:after {
                font-size: 0.8em;
                top: 20%;
            }
            .dropdown-menu {
                background: $menu-dropdown-bg;
                .arrow {
                    border-bottom-color: $menu-dropdown-bg;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        #menu {
            margin: 0.55em 1.5em 0 0;
        }
    }
}