body:not(.pyrocms) {
    #sidebar {
        .nav {
            margin: 30px 30px;
            width: initial;
            border: 1px solid $gray-lighter;
            border-radius: $border-radius;
            > li {
                a {
                    padding: 7px 0;
                    color: $gray;
                    i {
                        color: $gray;
                    }
                }
                &:hover, &.active, &.dropdown.open {
                    > a, i {
                        color: $gray;
                        background-color: $gray-lightest;
                    }
                }
                &:not(:last-child) {
                    border-bottom: 1px solid $gray-lighter;
                }
                &.active {
                    border-left: 3px solid $brand-primary;
                }
            }
            .subnav {
                padding-left: 52px;
                background-color: $gray-lightest;
                li {
                    > a, i {
                        color:  $gray;
                    }
                    &:hover, &.active, &.dropdown.open {
                        > a, i {
                            color:  $gray;
                            font-weight: bold;
                        }
                    }
                    &:last-child {
                        a {
                            padding: 7px 0 14px 0;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
        #sidebar {
            border-right: 1px solid $gray-lighter;
        }
    }
}