//
// Theme default variables
//

/* control variables */
$show-navbar: false !default;

/* pyrocms | bootstrap variables */
$border-radius: 0 !default;

/* brand variables */
$brand-bg: $brand-primary !default;
$brand-height: 110px !default;
$brand-logo-margin: 30px 0 0 0 !default;
$brand-logo-color: #000 !default;
$brand-logo-opacity: 0.3 !default;
$brand-logo-height: 40px !default;
$brand-mobile-height: 48px !default;
$brand-logo-mobile-height: 20px !default;
$brand-logo-mobile-margin: 12px 0 0 0 !default;

/* header variables */
$header-height: 110px !default;
$header-bg: transparent !default;

/* toggle button variables */
$toggle-text-color: rgba(0, 0, 0, 0.3) !default;
$toggle-bg: $brand-bg !default;
$toggle-hover-text-color: $white !default;
$toggle-hover-text-opacity: 0.3 !default;

/* navbar variables */
$nav-bg: $gray-dark !default;
$nav-height: 64px !default;
$nav-mobile-height: 48px !default;

/* menu variables */
$menu-text-color: $gray-lighter !default;
$menu-dropdown-bg: $white !default;

/* sidebar variables */
$sidebar-width: 300px !default;
$sidebar-bg: $gray-dark !default;
$sidebar-icon-color: $gray-light !default;
$sidebar-icon-font-size: 150% !default;
$sidebar-text-color: $gray-light !default;
$sidebar-text-indent: 20px !default;
$sidebar-icon-padding: 0 30px 0 0 !default;
$sidebar-tree-color: $gray-light !default;
$sidebar-icon-float: none !default;
$sidebar-active-bg: lighten($sidebar-bg, 4%) !default;
$sidebar-active-text-color: $white !default;
$sidebar-sub-active-text-color: $white !default;

/* login page variables */
$login-bg-color: $gray-lightest !default;
$login-text-color: rgba(255, 255, 255, 0.4) !default;
$login-border-color: rgba(0, 0, 0, 0.4) !default;

/* footer variables */
$footer-bg: darken($gray-lighter, 4%) !default;
$footer-logo-color: $gray-light !default;

/* card variables */
$card-border: none !default;
$card-shadow: 5px 5px 0 rgba(66, 66, 66, 0.1) !default;
$card-affix-bg: $white !default;

@import '{{ asset_path("pyrocms.theme.pyrocms::scss/theme/_variables.scss") }}';
