<!doctype html>
<html>
    <head>
        {% include "theme::partials/metadata" %}
    </head>
    <body id="login" style="background-image: url({{ image_path(random(config('websemantics.theme.pyrocms::design.backgrounds'))) }})">
{% if setting_value('websemantics.theme.pyrocms::skin') == 'websemantics.skin.pyrocms' %}
{{ block('content') }}
{% else %}
        <row>
            <div class="col-lg-14 col-sm-24 left">
                <div class="logo draw">
                    {{ image('theme::img/logo.svg').data()|raw }}
                </div>
            </div>
            <div class="col-lg-10 col-sm-24 right">
                {{ block('content') }}
            </div>
        </row>
{% endif %}
        {% include "pyrocms.theme.pyrocms::partials/js" %}
    </body>
</html>
